<template name="create">
  <div class="jumbotron">
    <div class="container">
    </div>
  </div>

  <form id="createRoom" class="container">

    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
        <h3>Give your room a name</h3>
        <input type="text" class="form-control input-lg" id="roomName" placeholder="My Awesome Room" required>
      </div>
    </div>

    <div class="row">
      <div class="form-actions col-md-2 col-md-offset-5">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Create Room</button>
      </div>
    </div>

  </form>
</template>

