<template name="home">
  <div class="jumbotron">
    <div class="container">
      <h1>Shuffle Up and Deal</h1>
      <p>Welcome to Guy's Planning Poker. You can use this site to play
      planning poker with your distributed teams. Just create a room, invite
      your team, and start flipping cards.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Join a Room</h2>
        <p>Select a room to join that you have been invited to. Once there with
        the rest of the team you can vote.</p>
      </div>
      <div class="col-md-4">
        <h2>Create a Room</h2>
        <p>Need a room? Create one and invite team members.</p>
      </div>
      <div class="col-md-4">
        <h2>Profile</h2>
        <p>Edit you profile and set you preferences.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a id="joinRoom" class="btn btn-lg btn-primary btn-block">Join Room</a>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a id="createRoom" class="btn btn-lg btn-primary btn-block">Create Room</a>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a id="editProfile" class="btn btn-lg btn-primary btn-block">Edit Profile</a>
      </div>
    </div>
  </div>
</template>

