<template name="login">
  <div class="jumbotron">
    <div class="container">
      <h1>Shuffle Up and Deal</h1>
      <p>Welcome to Guy's Planning Poker. You can use this site to play
      planning poker with your distributed teams. Just create a room, invite
      your team, and start flipping cards.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Sign in with <a id="signIn">Twitter</a> and get started now!</h2>
      </div>
    </div>
  </div>
</template>

